snippet ! "boilerplate for C++" b
#include <iostream>

int main() {

	$0

	return 0;
}
endsnippet

snippet cout "std::cout"
std::cout << $0
endsnippet

snippet endl "std::endl;"
std::endl;
endsnippet

snippet string "std::string"
std::string $0
endsnippet

snippet vector "std::vector"
std::vector<$0>
endsnippet

